.grey-inactive {
   opacity: 0.4;
   filter: alpha(opacity=40);
}
.imgscale {
	width: 100%;
    max-height: 250px;
}

div.desc{
    background-color: #2c3e50;
    bottom: 0;
    color: #fff;
    left: 0;
    width: 100%;
    height: 45px;
    padding-left: 3px;
}

.fix{
    width: 100%;
    padding: 0px;
}

@media only screen and (max-width:599px) {
	.vjs-default-skin .vjs-big-play-button {left:25%;top:25%;width:50%;height:50%;}
}
@media only screen and (min-width:600px) and (max-width:768px) {
	.vjs-default-skin .vjs-big-play-button {left:25%;top:25%;width:50%;height:50%;font-size:5em;}
}
.video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px}
.clickable{ cursor:hand; }
